Source: oxyos-metapackage
Section: misc
Priority: optional
Maintainer: OxyHQ <hello@oxy.so>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: https://os.oxy.so

Package: oxyos-metapackage
Architecture: all
Depends: ${misc:Depends}
Recommends: bash-completion, bc, bzip2, curl, dosfstools, e2fsprogs,
 eject, file-roller, firefox-esr, fonts-freefont-ttf, fonts-liberation,
 gnome-calculator, gnome-text-editor, eog, gparted, gvfs-fuse,
 htop, less, libnss-mdns,
 network-manager, network-manager-openvpn-gnome,
 ntfs-3g, openssh-client, os-prober,
 pipewire-pulse, power-profiles-daemon,
 rsync, thunar, thunar-archive-plugin, thunar-volman,
 tumbler, tumbler-plugins-extra,
 unzip, usbutils, user-setup, vlc, whois,
 wireplumber, wireless-tools,
 xz-utils, zip,
 oxyos-configs, oxyos-icon-theme, oxyos-wallpapers,
 foot, upower, dbus-x11
Description: metapackage for OxyOS
 Core application set for OxyOS with the custom Wayland desktop shell.
 Includes essential desktop apps, multimedia, networking, and system tools.
